.card {
  display: block;
  background-color: #00541a;
  justify-content: center;
  margin: 20 auto;
  padding: 30px;
  height: 150px;
  border-radius: 5px;
  width: 200px;
  text-align: center;

/*  box-shadow: 0px 5px 20px rgba(133,134,134,5);
*/
}
.card p{
  font-color: #00541a;

}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

